Analysis on ...

From Data to model
In this notebook we will take a dataset, clean it, train a model, and make a predictions

Steps:
1. Import libraries 
2. Load dataset
3. Make a copy of original dataset
4. We will use the copy for further processing
5. Check for inconsistencies and missing values, duplicates
6. Split the data set in train/test
7. Separate the categorical and numerical features
8. Check for missing and handle missing values in categorical and numerical using simple imputer
10.Fit model and evaluate it

Step 1: Start importing libraries

In [2]:
import pandas as pd # handles dataframe
import numpy as np #handles array
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn import set_config #draws the diagram of the pipeline
set_config(display='diagram')

In [3]:
# evaluates how well model did
def eval_regression(true,predicted_values):
    ''' Takes true and predicted values (arrays) and prints MAE, MSE, RMSE, and R2'''
    # don't need to use numpy to do these calculations
    # taking 2 parameters because that's what is need the true values and predicted values for calculations
    mae = mean_absolute_error(true, predicted_values)
    mse = mean_squared_error(true, predicted_values)
    rmse = np.sqrt(mse)
    r2 = r2_score(true, predicted_values)
    print(f'MAE {mae}, \n MSE {mse}, \n RMSE {rmse}, \n R^2 {r2}')

In [4]:
path = './AKC Breed Info.csv'
dog_breed_df = pd.read_csv(path)
dog_breed_df.info()
dog_breed_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               150 non-null    int64
 1   Breed               150 non-null    object
 2   height_low_inches   150 non-null    object
 3   height_high_inches  150 non-null    object
 4   weight_low_lbs      150 non-null    object
 5   weight_high_lbs     150 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.2+ KB

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,0,Akita,26,28,80,120
1,1,Anatolian Sheepdog,27,29,100,150
2,2,Bernese Mountain Dog,23,27,85,110
3,3,Bloodhound,24,26,80,120
4,4,Borzoi,26,28,70,100

In [5]:
# copy of dataframe
dog_breed_df_copy = dog_breed_df.copy()

In [6]:
# 150 rows 6 columns
dog_breed_df.shape

(150, 6)

In [ ]:
dog_breed_df.inf

In [7]:
# checking for dups
dog_breed_df.duplicated().sum()

0

In [8]:
# checking for na values
dog_breed_df.isna().sum()

index                 0
Breed                 0
height_low_inches     0
height_high_inches    0
weight_low_lbs        0
weight_high_lbs       0
dtype: int64

In [50]:
# type 
type(dog_breed_df)
# head
dog_breed_df['Breed'].head()
# tail
dog_breed_df['Breed'].tail()
# selecting certain amount of rows from a column
dog_breed_df['Breed'][10:30]
# change height/ weight into integers
# dog_breed_df['height_high_inches'] = dog_breed_df['height_high_inches'].astype(int)
# type(dog_breed_df['height_high_inches'])
# dog_breed_df.dtypes
# dog_breed_df['height_high_inches'].value_counts()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [23]:
# selecting columns through .loc method
dog_breed_df.loc[:,['Breed']]
# .loc with head method
dog_breed_df.loc[:,['Breed']].head()

                  Breed
0                 Akita
1    Anatolian Sheepdog
2  Bernese Mountain Dog
3            Bloodhound
4                Borzoi