GroupBy Exercise

In [16]:
import pandas as pd
import numpy as np

In [17]:
# dataset has no headers and letting python know that
filename ='https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data'
df = pd.read_csv(filename, header=None)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10080 entries, 0 to 10079
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10080 non-null  int64
 1   1       10080 non-null  object
 2   2       10080 non-null  object
 3   3       10080 non-null  int64
dtypes: int64(2), object(2)
memory usage: 315.1+ KB

   0         1         2  3
0  7  07/24/05  00:00:00  0
1  9  07/24/05  00:00:00  0
2  7  07/24/05  00:30:00  1
3  9  07/24/05  00:30:00  0
4  7  07/24/05  01:00:00  0

In [18]:
# https://www.statology.org/pandas-rename-columns/
df.columns=["Flow_ID", "Date", "Time","Count"]
df.head()

   Flow_ID      Date      Time  Count
0        7  07/24/05  00:00:00      0
1        9  07/24/05  00:00:00      0
2        7  07/24/05  00:30:00      1
3        9  07/24/05  00:30:00      0
4        7  07/24/05  01:00:00      0

In [19]:
# selecting one column
df['Date']

0        07/24/05
1        07/24/05
2        07/24/05
3        07/24/05
4        07/24/05
           ...
10075    11/05/05
10076    11/05/05
10077    11/05/05
10078    11/05/05
10079    11/05/05
Name: Date, Length: 10080, dtype: object

In [20]:
# selecting multiple columns
# df[['Count', 'Date']]

# using iloc- grabbing the columns by index usig loc method
# df.iloc[:, [0,2]]

# Select Columns in Index Range
df.iloc[:, 0:2]

       Flow_ID      Date
0            7  07/24/05
1            9  07/24/05
2            7  07/24/05
3            9  07/24/05
4            7  07/24/05
...        ...       ...
10075        9  11/05/05
10076        7  11/05/05
10077        9  11/05/05
10078        7  11/05/05
10079        9  11/05/05

[10080 rows x 2 columns]

Selecting Data =>
Select all data for the date July 24 2005 having flow id=7.

In [21]:
# creating a filter for the date
july_date = df['Date'] == "07/24/05"
flow_id7 = df['Flow_ID'] == 7
# must be put back in a dataframe
july_date_df = df[july_date]
flow_id7_df = df[flow_id7]
# filtered_df = df.query(df['Date'] == "07/24/05" & df['Flow_ID'] == 7)
filtered_df = df.query('Date  == "07/24/05" & Flow_ID == 7')
filtered_df

    Flow_ID      Date      Time  Count
0         7  07/24/05  00:00:00      0
2         7  07/24/05  00:30:00      1
4         7  07/24/05  01:00:00      0
6         7  07/24/05  01:30:00      0
8         7  07/24/05  02:00:00      0
10        7  07/24/05  02:30:00      2
12        7  07/24/05  03:00:00      0
14        7  07/24/05  03:30:00      0
16        7  07/24/05  04:00:00      0
18        7  07/24/05  04:30:00      0
20        7  07/24/05  05:00:00      0
22        7  07/24/05  05:30:00      0
24        7  07/24/05  06:00:00      0
26        7  07/24/05  06:30:00      0
28        7  07/24/05  07:00:00      0
30        7  07/24/05  07:30:00      2
32        7  07/24/05  08:00:00      0
34        7  07/24/05  08:30:00      0
36        7  07/24/05  09:00:00      0
38        7  07/24/05  09:30:00      1
40        7  07/24/05  10:00:00      0
42        7  07/24/05  10:30:00      0
44        7  07/24/05  11:00:00      1
46        7  07/24/05  11:30:00      0
48        7  07/24/05  12:00:00      0
50        7  07/24/05  12:30:00      0
52        7  07/24/05  13:00:00      0
54        7  07/24/05  13:30:00      0
56        7  07/24/05  14:00:00      0
58        7  07/24/05  14:30:00      0
60        7  07/24/05  15:00:00      0
62        7  07/24/05  15:30:00      0
64        7  07/24/05  16:00:00      0
66        7  07/24/05  16:30:00      0
68        7  07/24/05  17:00:00      1
70        7  07/24/05  17:30:00      2
72        7  07/24/05  18:00:00      4
74        7  07/24/05  18:30:00      1
76        7  07/24/05  19:00:00      2
78        7  07/24/05  19:30:00      1
80        7  07/24/05  20:00:00      0
82        7  07/24/05  20:30:00      0
84        7  07/24/05  21:00:00      3
86        7  07/24/05  21:30:00      2
88        7  07/24/05  22:00:00      0
90        7  07/24/05  22:30:00      0
92        7  07/24/05  23:00:00      2
94        7  07/24/05  23:30:00      0

From the data selected in step 1, sort the result on Count in descending order and output the top 10 rows. Assign the output to a variable named top10.

In [22]:
# for descending order ascending= False; for ascending order ascending=True
top_10= filtered_df.sort_values('Count', ascending=False)
top10= top_10.head(10)
top10

    Flow_ID      Date      Time  Count
72        7  07/24/05  18:00:00      4
84        7  07/24/05  21:00:00      3
76        7  07/24/05  19:00:00      2
92        7  07/24/05  23:00:00      2
30        7  07/24/05  07:30:00      2
10        7  07/24/05  02:30:00      2
86        7  07/24/05  21:30:00      2
70        7  07/24/05  17:30:00      2
68        7  07/24/05  17:00:00      1
74        7  07/24/05  18:30:00      1

Apply function =>
For the 10 rows outputted above, use Pandas Apply function to subtract lowest value of the 10 from all of them and then output the average value of the resulting counts

In [23]:
# removes the last row in dataframe
top9 = top10.iloc[:-1 , :]
top9['Count'].mean()

2.2222222222222223

In [24]:
# using lamba function - similar to a anonymous callback in javascript
# figure out how to use it
top9_2 = top10.apply(lambda row: row[top10.iloc[:-1 , :].mean()])
top9_2

/var/folders/q_/xgz69vs10773zsylsjzpqghm0000gp/T/ipykernel_76335/3325796182.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  top9_2 = top10.apply(lambda row: row[top10.iloc[:-1 , :].mean()])

KeyError: "None of [Float64Index([7.0, 2.2222222222222223], dtype='float64')] are in the [index]"

Grouping ==>
Select data in the month of August 2005 having flow id=7
Group the data based on date and get the max count per date

In [ ]:
# selecting dates for the month of August
# aug_month= df['Date'].loc
# df[aug_month]

Empty DataFrame
Columns: [Flow_ID, Date, Time, Count]
Index: []