GroupBy Exercise

In [1]:
import pandas as pd
import numpy as np

In [6]:
# dataset has no headers and letting python know that
filename ='https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data'
df = pd.read_csv(filename, header=None)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10080 entries, 0 to 10079
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10080 non-null  int64
 1   1       10080 non-null  object
 2   2       10080 non-null  object
 3   3       10080 non-null  int64
dtypes: int64(2), object(2)
memory usage: 315.1+ KB

   0         1         2  3
0  7  07/24/05  00:00:00  0
1  9  07/24/05  00:00:00  0
2  7  07/24/05  00:30:00  1
3  9  07/24/05  00:30:00  0
4  7  07/24/05  01:00:00  0

In [12]:
# https://www.statology.org/pandas-rename-columns/
df.columns=["Flow_ID", "Date", "Time","Count"]
df.head()

   Flow_ID      Date      Time  Count
0        7  07/24/05  00:00:00      0
1        9  07/24/05  00:00:00      0
2        7  07/24/05  00:30:00      1
3        9  07/24/05  00:30:00      0
4        7  07/24/05  01:00:00      0

In [14]:
# selecting one column
df['Date']

0        07/24/05
1        07/24/05
2        07/24/05
3        07/24/05
4        07/24/05
           ...
10075    11/05/05
10076    11/05/05
10077    11/05/05
10078    11/05/05
10079    11/05/05
Name: Date, Length: 10080, dtype: object

In [22]:
# selecting multiple columns
# df[['Count', 'Date']]

# using iloc- grabbing the columns by index usig loc method
# df.iloc[:, [0,2]]

# Select Columns in Index Range
df.iloc[:, 0:2]

       Flow_ID      Date
0            7  07/24/05
1            9  07/24/05
2            7  07/24/05
3            9  07/24/05
4            7  07/24/05
...        ...       ...
10075        9  11/05/05
10076        7  11/05/05
10077        9  11/05/05
10078        7  11/05/05
10079        9  11/05/05

[10080 rows x 2 columns]

In [33]:
# creating a filter for the date
july_date = df['Date'] == "07/24/05"
flow_id7 = df['Flow_ID'] == 7
# must be put back in a dataframe
# filtered_df = df[(df[july_date]) and (df[flow_id7])]

0         True
1        False
2         True
3        False
4         True
         ...
10075    False
10076     True
10077    False
10078     True
10079    False
Name: Flow_ID, Length: 10080, dtype: bool