Your task is to write code to answer all of the following questions:

1. Display the head of the dataframe.
2. What is the percentage of people who survived? (hint: find the mean of the survival column).
3. How many of each sex survived?
4. Considering only the group of passengers who paid less than $10, what percentage of this group survived? Hint: You can filter the dataframe based on the fare, and then use value_counts(normalize = True) on the "Survived" column to obtain proportions instead of sums. For example 0.25 would indicate 25%
5. Overall, what is the average age of those who didn't survive?
6. Overall, what is the average age of those who did survive?
7. What is the average age of those who did and didn't survive grouped by Sex?

In [28]:
import pandas as pd
import numpy as np

In [29]:
filename = './titanic.csv'
titanic_df= pd.read_csv(filename)
titanic_df.info()
titanic_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [30]:
# checking for duplicates and NA values
titanic_df.duplicated().sum()
titanic_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [31]:
# percentage survived
titanic_df['Survived'].mean()

0.3838383838383838

In [33]:
# survived by sex
males_survived = titanic_df[(titanic_df['Survived'] == 1) & (titanic_df['Sex'] == "male")]
num_of_males_survived = males_survived['Survived'].value_counts()
females_survived = titanic_df[(titanic_df['Survived'] == 1) & (titanic_df['Sex'] == "female")]
num_of_females_survived = females_survived['Survived'].value_counts()

print(num_of_males_survived)
print(num_of_females_survived)

1    109
Name: Survived, dtype: int64
1    233
Name: Survived, dtype: int64

In [50]:
less_than_10_fare = titanic_df['Fare'] < 10
# titanic_df[less_than_10_fare]
survival = titanic_df['Survived'] == 1
# titanic_df[survival]
# survival_and_under10 = titanic_df.loc[(less_than_10_fare) & (survival)]
# survival_and_under10 = titanic_df.loc[(titanic_df['Fare'] < 10) & (titanic_df['Survived'] == 1)]
# survival_and_under10['Survived'].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
# survival_and_under10['Survived'].value_counts(normalize=True)
# titanic_df.loc[less_than_10_fare, 'Survived'].value_counts(normalize=True)
titanic_df.loc[less_than_10_fare, 'Pclass'].value_counts(normalize=True)

3    0.964286
1    0.017857
2    0.017857
Name: Pclass, dtype: float64

https://www.w3resource.com/pandas/dataframe/dataframe-loc.php

In [97]:
#  Overall, what is the average age of those who didn't survive?
# titanic_df.loc[5:95,['Age', 'Fare']]
# titanic_df.iloc[2:5, 0:5]
# titanic_df[titanic_df['Age'] < 25]
# grabs the index
# titanic_df.loc[2]

# first parameter acts as index
# ---> :acts as all rows
# titanic_df.loc[:, 'Age']
#  ---> get only row 2
# titanic_df.loc[2, 'Age']
# filter acts as index and gets the rows of the filter aka folks paid less than $10 and associated ages, 
# titanic_df.loc[less_than_10_fare, 'Age']

# this gives ALL the rows for both filters
# titanic_df.loc[(less_than_10_fare)& (survival)]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64